
/* Colors */
$primaryGreen: #42B883;
$secondaryGreen: #35495E;
$highlightGreen: #C8EBDC;

$baseGrey: #D6DCDB;

/* Wrappers & Containers */
.account-list-wrapper {
    width: 48%;
}

/* Mixins */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* Extending / Inheritance */
.search-input-base {
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    padding: 10px;
}

.account-list {
    box-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.2 );
    list-style: none;
    text-align: left;
    padding: 0;
    
    &__item {
        padding: 1rem .5rem;
        cursor: pointer;
        background: #FFF;
        word-wrap: break-word;
        &:nth-child(even) {
            background: #E9E9E9;
        }
        &:hover {
            background: $secondaryGreen;
            transition: .2s ease;
            color: #FFF;
        }
    }
    
}

/* Utilities */
.text-left {
    text-align: left;
}

.active {
    background: $primaryGreen !important;
    color: #FFF;
}

.flex {
    display: flex;
}

.space-around {
    justify-content: space-around;
}

/* Base Styles */
body {
    background: #EEEEED;
}

h1 {
    font-size: 1.5em;
}