
/* Colors */
$primaryGreen: #42B883;
$secondaryGreen: #39BD84;
$highlightGreen: #C8EBDC;

$baseGrey: #D6DCDB;

/* Wrappers & Containers */
.account-list-wrapper {
    width: 50%;
    border: 1px solid red;
}

/* Mixins */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* Extending / Inheritance */
.search-input-base {
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    padding: 10px;
}

/* Base Styles */
body {
    background: #EEEEED;
}